@import "tailwindcss";

@theme {
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 960px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: initial;

    --font-primary: 'DM Serif Display', serif;
    --font-secondary: 'Jost', sans-serif;

    --background-image-hero: url('/hero/bg.jpg');
    --background-image-grid: url('/grid.png');

    --color-primary: #292f36;
    --color-primary-hover: #343e4e;
    --color-secondary: #4d5053;
    --color-accent: #cda274;
    --color-accent-secondary: #f4f0ec;
    --color-accent-hover: #b88c5d;
}

@utility container {
    padding: 15px;
}

body {
    @apply font-secondary text-[22px] text-secondary;
}

a {
    @apply text-[20px] hover:text-accent transition-all duration-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-primary text-primary;
}

.h1 {
    @apply text-[64px] lg:text-[84px] leading-none;
}

.h2 {
    @apply text-[50px] leading-tight;
}

.h3 {
    @apply text-[25px];
}

.btn {
    @apply h-[75px] px-[30px] transition-all duration-300 text-white rounded-[18px] flex items-center gap-2;
}

.btn-primary {
    @apply bg-primary hover:bg-primary-hover;
}

.btn-accent {
    @apply bg-accent hover:bg-accent-hover;
}

.nav-is-open {
    @apply h-[350px] p-6;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @apply bg-primary;
}